version: "3.7"

services:
  webserver:
    build:
      context: ./bin/${PHP_VERSION}
      args:
        - SYMFONY_CLI_VERSION=${SYMFONY_CLI_VERSION}
        - PHP_XDEBUG_MODE=${PHP_XDEBUG_MODE}
        - PHP_XDEBUG_CLIENT_PORT=${PHP_XDEBUG_CLIENT_PORT}
        - PHP_XDEBUG_CLIENT_HOST=${PHP_XDEBUG_CLIENT_HOST}
        - GIT_MAIL=${GIT_MAIL}
        - GIT_NAME=${GIT_NAME}
    container_name: '${PROJECT_NAME}-php'
    ports:
      - "8080:80"
    depends_on:
      - database
    volumes:
      - ./www:/var/www/html:delegated
      - ./config/php/php.ini:/usr/local/etc/php/php.ini
      - ./config/vhosts:/etc/apache2/sites-enabled
      - ./logs/apache2:/var/log/apache2
      - ./config/supervisor/supervisord.conf:/etc/supervisor/supervisord.conf
      - ./config/supervisor/supervisord-programs.conf:/etc/supervisor/conf.d/app.conf
      - ./config/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  database:
    image: mysql:5.7
    container_name: '${PROJECT_NAME}-database'
    restart: 'always'
    ports:
      - "8181:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: database
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: '${PROJECT_NAME}-pma'
    depends_on:
      - database
    environment:
      - PMA_ARBITRARY=1
      - UPLOAD_LIMIT=300M
      - PMA_HOST=database
      - PMA_USER=root
      - PMA_PASSWORD=root
    ports:
      - "8282:80"
  mail:
    image: maildev/maildev
    container_name: '${PROJECT_NAME}-mail'
    command: bin/maildev --web 80 --smtp 25 --hide-extensions STARTTLS
    restart: always
    ports:
      - "8383:80"
      - "25:25"
